<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RssNewsEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AWSAccessKey" value="AKIAIWFK6YSYC34OEFJQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off">

    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <machineKey validationKey="268AB9B2A73DDD0C7D8FF8D8645B7BD16C6CEDA3BC5B9D22D5D173EF66AE6C35B7ED5F8B020E08C882FF40CB4152E0A00704A4C16498F4C6C0268FC4F04F6ADB" decryptionKey="288D7E61A6BBD947078059D8BC6BF4971BA9B801BEAD5757"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
    <membership defaultProvider="AwsSimpleDbMembership">
      <providers>
        <clear/>
        <add passwordFormat="Encrypted" name="AwsSimpleDbMembership" type="RssEngine.SimpleDbMembershipProvider"/>
      </providers>
    </membership>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <RssNewsEngine.Properties.Settings>
      <setting name="AWSMembershipDomain" serializeAs="String">
        <value>rssnewsmembership</value>
      </setting>
      <setting name="SimpleDbDomainNameFormat" serializeAs="String">
        <value>rssnews</value>
      </setting>
      <setting name="BucketName" serializeAs="String">
        <value>rssnewsengine</value>
      </setting>
      <setting name="BucketNameURL" serializeAs="String">
        <value>https://rssnewsengine.s3.amazonaws.com</value>
      </setting>
      <setting name="RssNewsDomainName" serializeAs="String">
        <value>rsseginepublic</value>
      </setting>
      <setting name="SouthAfrica" serializeAs="String">
        <value>southafricanews</value>
      </setting>
      <setting name="Kenya" serializeAs="String">
        <value>kenyanews</value>
      </setting>
      <setting name="Uganda" serializeAs="String">
        <value>ugandanews</value>
      </setting>
      <setting name="Tanzania" serializeAs="String">
        <value>tanzanianews</value>
      </setting>
      <setting name="Zambia" serializeAs="String">
        <value>zambianews</value>
      </setting>
      <setting name="Zimbabwe" serializeAs="String">
        <value>zimbabwenews</value>
      </setting>
      <setting name="Malawi" serializeAs="String">
        <value>malawinews</value>
      </setting>
      <setting name="Bostwana" serializeAs="String">
        <value>bostwananews</value>
      </setting>
      <setting name="SouthAfricaVideo" serializeAs="String">
        <value>southafricavideo</value>
      </setting>
      <setting name="KenyaVideo" serializeAs="String">
        <value>kenyavideo</value>
      </setting>
      <setting name="UgandaVideo" serializeAs="String">
        <value>ugandavideo</value>
      </setting>
      <setting name="TanzaniaVideo" serializeAs="String">
        <value>tanzaniavideo</value>
      </setting>
      <setting name="ZambiaVideo" serializeAs="String">
        <value>zambiavideo</value>
      </setting>
      <setting name="ZimbabweVideo" serializeAs="String">
        <value>zimbabwevideo</value>
      </setting>
      <setting name="MalawiVideo" serializeAs="String">
        <value>malawivideo</value>
      </setting>
      <setting name="BostwanaVideo" serializeAs="String">
        <value>bostwanavideo</value>
      </setting>
    </RssNewsEngine.Properties.Settings>
  </applicationSettings>
</configuration>